@import "../../styles/Variablies";

.tableRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid $appBg;


  .checkboxTableCell {
    @include tableCellSize(10%);
  }

  .secondTableCell {
    @include tableCellSize(40%);
  }

  .thirdTableCell {
    @include tableCellSize(10%);
  }

  .fourthTableCell {
    @include tableCellSize(38%);
  }
}

.active {
  background-color: $bgSecondColor;
}